.btn-new-court{
    margin-top: 17px;
}
.courtbox{
    margin-bottom: 20px;
}
.court_new table{
    width: 100%;
}
.court_new table td{
    padding-bottom: 10px;
}
.court_new table label{
    font-weight: normal;
    text-align: right;
    display: inline-block;
    width: 100%;
    padding-right: 10px;
}
#form_search_rate input.price{
    width: 120px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
}
#form_search_rate .daterange_rate{
    display: inline-block;
    width: auto;
    height: 30px;
    margin-left: 5px;
}
table .td_field_label{
    font-weight: 400;
    background: #f2f2f2;
    color: #000;
}
.form-box{
    margin-right: 15px;
}
.btn{
    border-radius: 0;
    outline: none;
    border: 0;
}
.contacttime, .contacttimeperiod{
    margin-top: 50px;
}
.contacttimeperiod table{
    width: 100%;
}
.contacttimeperiod table td{
    padding-bottom: 10px;
}
.contacttimeperiod table label{
    text-align: right;
    display: inline-block;
    width: 100%;
    padding-right: 10px;
}
.contacttimerate input.price_contract_rate{
    width: 120px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
}
form.form-court{
    margin: 10px 0px;
}
.table-th th{
    background: #f2f2f2;
    color: #000;
}

/*calendar-box*/
.calendar-box{
    padding: 20px 0px;
    clear: both;
}
.monthly-day{
    border-bottom: 1px solid #EBEBEB;
}
.monthly-day:nth-of-type(7n){
    border-right: 1px solid #EBEBEB;
}
.monthly-day:nth-of-type(7n+1){
    border-left: 1px solid #EBEBEB;
}
.monthly-header{
    width: 200px;
    font-size: 22px;
}
.monthly-day.day_close{
    background: #1b1b1b;
    text-transform: uppercase;
    color: #fff;
    padding-top: 20px;
}
.monthly-day.day_holiday{
    background: #930101;
    color: #fff;
    padding-top: 20px;
}
.monthly-day .action {
    display: inline-block;
}
.monthly-day .overflow{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    line-height: 70px;
    display: none;
    transition: all 0.1s linear;
}
.monthly-day:hover .overflow{
    display: block;
}

.add_new_date_period{
    position: relative;
}
.add_new_date_period .tooltip1 {
    opacity: 1;
    top: 20px;
    padding: 0px 10px;
    position:absolute;
    -webkit-transition: opacity 0.5s;
    -moz-transition:  opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition:  opacity 0.5s;
    transition:  opacity 0.5s;
    right: 0px;
    height: 80px;
    width: 400px;
    background: #fff;
    border: 1px solid #d8d8d8;
}
.add_new_date_period .tooltip1:before{
    border: solid;
    border-color: #d8d8d8 transparent;
    border-width: 0px 6px 6px 6px;
    top: 20px;
    content: "";
    left: 90%;
    position: absolute;
    top: -6px;
    /* z-index: 99; */
}


#tabRate{
    margin-top: 25px;
}
#tabRate li{
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    opacity: 0.5;
    cursor: pointer;
}
#tabRate li.active{
    opacity: 1;
}

/* PAGE MANAGER BOOKINGS */
#form_search_booking{
    background: #f2f2f2;
    padding: 5px 0px;
    position: relative;
}
#result_search table{
    width: 80%;
    margin: 0px auto;
}
#result_search table th, #result_search table td{
    line-height: 3em;
}
.manage_multi_times, .create_new_book{
    margin-bottom: 10px;
}
.day-view-content{
    overflow-x: scroll;
}
.datetimepicker{
    outline: none;
    text-indent: 5px;
}
.day-view-content table th, .day-view-content table td{
    border-color: #aaa !important;
}
.grid-row .td_field_label{
    min-width: 80px;
}
.day-view-content .day-grid {
    height: 35px;
    min-width: 120px;
    max-height: 40px;
    cursor: pointer;
}
.day-grid.available{
    color: #c7c7c7;
    cursor: pointer;
}
.day-grid.unavailable{
    background: #ddd;
    cursor: text;
}

.day-view-content .grid-null{
    width: 100px;
    background: #f2f2f2;
}
.day-grid.contract{
    background: #c0e39e;
    color: #40780b;
}
.day-grid.open{
    background: #63ac1d;
    color: #fff;
}
.day-grid.lesson{
    background: #1d5aac;
    color: #fff;
}
.grid-row{
    position: relative;
    height: 35px !important;
}
.day-grid.grid-haft-top{
    border-bottom: 0px;
}
.day-grid.grid-haft-bottom{
    border-top: 0px;
}
#md-available-content-expand, #md-booking-content-expand{
    position: absolute;
    left: 0px;
    width: 100%;
    min-height: 100px;
    border: 1px solid #d8d8d8;
    background: #fff;
    padding: 20px;
}
#md-booking-content-expand tr td:first-child{
    width: 35%;
}
#md-booking-content-expand tr td:last-child{
    width: 65%;
}
.available-slot-expanded{
    background: #f9f9f9;
    overflow: hidden;
}
.available-slot-expanded table{
    background: none !important;
}
.available-slot-expanded table th{
    background: none;
    color: #000;
    font-weight: bold;
}
.available-slot-expanded table td{
    color: #000;
}
.available-slot-expanded table tr, .available-slot-expanded table th, .available-slot-expanded table td{
    border: 0px !important;
}
.btn-mb-ex {
    width: 240px;
    display: block;
    margin-top: 20px;
    position: relative;
}
.icon-fa-make-unavailable, .icon-fa-angle-down, .icon-fa-star{
    position: relative;
}
.icon-fa-angle-down:after{
     font-family: FontAwesome;
     content: "\f107";
     display: inline-block;
     padding-right: 3px;
     vertical-align: middle;
     right: 10px;
     position: absolute;
 }
.icon-fa-star:before{
    font-family: FontAwesome;
    content: "\f006";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    left: 10px;
    position: absolute;
}
.icon-fa-make-unavailable:before{
    font-family: FontAwesome;
    content: "\f05e";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    left: 10px;
    position: absolute;
}
.icon-fa-print:before{
    font-family: FontAwesome;
    content: "\f02f";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    left: 10px;
    position: absolute;
}
.icon-fa-accept:before{
    font-family: FontAwesome;
    content: "\f09d";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    left: 10px;
    position: absolute;
}
.icon-fa-edit:before{
    font-family: FontAwesome;
    content: "\f044";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    left: 10px;
    position: absolute;
}
.icon-fa-cancel:before{
    font-family: FontAwesome;
    content: "\f00d";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    left: 10px;
    position: absolute;
}
.icon-fa-check:before{
    font-family: FontAwesome;
    content: "\f00c";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    left: 10px;
    position: absolute;
}
#form_make_unavailable{
    width: 240px;
    background: #fff;
    margin-left: 20px;
    box-shadow: 3px 0px 5px rgba(0,0,0,0.2);
}
.form-center label{
    display: block;
    color: #000;
}
.form-center input[type=submit]{
    display: block;
    margin: 5px auto;
}
#form_make_unavailable .show-expand{
    padding: 10px;
    display: none;
}
.court-booking-expanded table tr td:nth-of-type(n){
    padding-right: 5px;
}
.court-booking-expanded table tr td:nth-of-type(2n){
    padding-left: 5px;
}
.court-booking-expanded .title-part{
    font-weight: bold;
}

/*tabs*/
.mb-model .modal-body{
    padding: 0px 15px;
}
.mb-model h4.modal-title{
    text-align: center;
    font-size: 22px;
}
.mb-tabs > li{
    width: 25%;
    text-align: center;
    height: 35px;
    line-height: 35px;
    background: #0f484d;
    color: #fff;
}
.mb-tabs > li a{
    text-align: center;
    height: 35px;
    line-height: 35px;
    background: #0f484d;
    color: #fff;
    border-radius: 0;
    padding: 0;
}
.tbl-info-booking-details{
    text-align: left;
}
.mb-tabs > li.active a, .mb-tabs > li:active a .mb-tabs > li:hover a{
    border: 0px;
    border-bottom: 4px solid #63ac1d;
    background: #082e31;
    color: #fff;
}
.mb-title-h4-modal{
    padding: 10px 0px;
}
#mb-booking-detail-content .slc-type{
    padding: 10px 0px;
    border-bottom: 2px solid #ddd;
    overflow: hidden;
}
.mb-group-sl{
    padding: 10px 0px;
    border-bottom: 2px solid #ddd;
    overflow: hidden;
    text-align: center;
}
.mb-title-h4-modal-boder{
    padding: 10px 0px;
    border-bottom: 2px solid #ddd;
    overflow: hidden;
}
.tbl-info-booking-details tr{
    vertical-align: text-top;
}
.bold{
    font-weight: bold;
}
.payment-item{
    text-align: center;
    padding: 10px 0px;
    width: 17%;
}
.payment-item .img-wrap{
    height: 35px;
}
.payment-item img{
    margin: auto;
    display: block;
}
.days-in-month-wrap{
    background: #0f484d;
    color: #fff;
    height: 45px;
    position: relative;
    overflow: hidden;
}
.days-in-month-wrap .days{
    transition: all 0.3s linear;
}
.days-in-month-wrap .day-item{
    height: 45px;
    padding: 5px 0px;
    text-align: center;
    width: 200px;
    float: left;
    cursor: pointer;
    box-sizing: border-box;
}
.days-in-month-wrap .day-item.date-current, .days-in-month-wrap .day-item:hover{
    background: #082e31;
    border-bottom: 4px solid #63ac1d;
}
.days-in-month-control{
    position: relative;
}
.days-in-month-control > div {
    height: 45px;
    width: 20px;
    background: #082e31;
    line-height: 45px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
}
#next-day-in-month{
    position: absolute;
    top: 0px;
    right: 0px;
}
#prev-day-in-month{
    position: absolute;
    top: 0px;
    left: 0px;
}
#box-set-open-days:before{
    content:'';
    display: none;
}
.loading{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    text-align: Center;
    margin: 0px auto;
    display: block;
    font-size: 3em;
    color: #fff;
}
.loading i{
    text-align: Center;
    top: 50%;
    position: ABSOLUTE;
}

@media print {
    .notprint{
        display: none;
    }
}
.court-name-wrap .grid{
    float: left;
    border-left: 1px solid #ccc;
    padding: 5px 10px 0px 10px;
    width: 150px;
    background: #f2f2f2;
    color: #000;
    text-align: center;
    height: 49px;
    cursor: pointer;
}
.grid-content-wap .grid-row{
    float: left;
    width: 150px;
    text-align: center;
}
.grid-row.col-hour{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
}
.grid-row.col-hour .grid{
    background: #f2f2f2;
    width: 100px;
    text-align: left;
    padding-left: 20px;
    border: 1px solid #ccc;
    border-top: 0px;
    border-right: 0px;
    height: 20px;
}
.grid-content-wap .grid-row:last-child .day-grid{
    border-right: 1px solid #ddd;
}
.grid-row.col-hour .grid-null{
    width: 100px;
    height: 50px;
}
.grid-content-wap .grid-row .grid{
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    height: 20px;
    box-sizing: border-box;
    position: relative;
}
.grid-content-wap .grid-row .grid.g2{
    height: 40px;
}
.grid-content-wap .grid-row .grid.g0:not(.unavailable),.grid-content-wap .grid-row .grid.g0:not(.closed){
    height: 0px;
    padding: 0;
    opacity: 0;
    display: none;
}
.grid-content-wap .grid-row .grid.g2.unavailable, .grid-content-wap .grid-row .grid.g2.closed{
    height: 20px;
}
.grid-content-wap .grid-row .grid.g0.unavailable, .grid-content-wap .grid-row .grid.g0.closed{
    display: block;
    height: 20px;
    font-size: 0px;
    opacity: 1;
    border-left: 1px solid #ccc;
}
.grid-content-wap .grid-row .grid.g0.gn{
    display: block;
}
.grid-content-wap .grid-row .grid.gn{
    height: 20px;
    cursor: text;
    font-size: 0px;
}
.grid-content-wap .grid-row .grid.g0.gn.available, .grid-content-wap .grid-row .grid.g0.gn.closed{
    height: 20px;
    border-left: 1px solid #ccc;
    opacity: 1;
}
.grid-content-wap .grid-row .grid.g1{
    height: 20px;
}
/*.grid-content-wap .grid-row .grid.gn ~ .gstart{*/
    /*height: 60px;*/
/*}*/
/*.grid-content-wap .grid-row .grid.gn ~ .gend{*/
    /*height: 0px;*/
    /*border: 0px;*/
/*}*/

.grid-content-wap .grid-row .grid.gn ~ .gstart{
    height: 40px;
}
.grid-content-wap .grid-row .grid.gn ~ .gend{
    height: 0px;
    border: 0px;
}
.grid-content-wap .grid-row .grid:last-child{
    height: 20px;
}
.grid-content-wap{
    min-height: 500px;
}
.grid-wrap{
    margin-left: 100px;
}
.day-view-content{
    position: relative;
}
.day-view-content .day-grid .title-grid{
    font-weight: bold;
    display: block;
    text-transform: capitalize;
}
.day-view-content .grid-row .day-grid:nth-of-type(2n){
    border-top: 0px;
}
.day-view-content .day-grid.available .title-grid{
    font-weight: normal;
}
.day-view-content .day-grid.open.gstart{
    /*border-bottom: 1px solid #fff;*/
}
#myModal .modal-dialog{
    overflow: scroll;
}
.close-md {
    position: absolute;
    top: 5px;
    left: 10px;
    color: #000;
}
.editable{
    border: 1px solid #ddd;
    padding: 5px 10px;
}
.select2-container,.daterangepicker{
    z-index: 999999999999999;
}
.select2-dropdown, .select2-selection{
    width: 300px !important;
}
.grid-row.col-hour .court-name:nth-of-type(2n){
    height: 40px;
}
.grid-row.col-hour .court-name:nth-of-type(2n+1){
    height: 0px;
    opacity: 0;
    border: 0px;
    display: none;
}
.grid-content-wap .grid-row .day-grid:last-child{
    border-bottom: 1px solid #ccc;
}
.content .box.box-primary{
    position: inherit;
}
.grid-content-wap .grid-row .day_close{
    background: #000;
    color: #fff;
    cursor: text;
}
#md-new-deal table{
    width: 100%;
}
#md-new-deal tr td{
    width: 50%;
    text-align: right;
    padding-right: 5px;
}
#md-new-deal tr td:last-child{
    text-align: left;
    padding-left: 5px;
}
.day-grid.ui-selectee{
    cursor: text;
}
.day-grid.ui-selected{
    background: rgba(0,0,0,0.6);
}
#calendar_bookings{
    z-index: 99;
    background: #fff;
}
.grid-row.col-hour .court-name.row-hour-name{
    cursor: pointer;
}
#light-overlay-full{
    position: fixed;
    z-index: 9;
    opacity: 0.98;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgb(0, 0, 0);
}
#mb-multi-make-time-unavailable{
    display: inline-block;
    padding-bottom: 20px;
}
#mb-multi-create-deal{
    display: inline-block;
}
.fright{
    float: right;
}
.fleft{
    float: left;
}
#mb-multi-make-time-unavailable form{
    float: right;
    text-align: center;
}
#mb-multi-make-time-unavailable form .show-expand, #mb-multi-create-deal .show-expand {
    display: none;
    position: absolute;
    top: 51px;
    width: 240px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    z-index: 9;
    padding: 5px 10px;
}
#manageMultiTimes .close-md{
    position: absolute;
    left: calc(100% - 50px);
    font-size: 3em;
    color: #000;
}
#md-new-deal{
    display: none;
    z-index: 3000000;
    top: 50%;
    line-height: 24px;
}
#md-new-deal input{
    margin-bottom: 10px;
}
#confirm-booking-delete{
    z-index: 3000000;
    display: none;
    height: 150px;
    position: fixed;
    margin: auto auto;
    width: 400px;
    background: rgb(255, 255, 255);
}
.daterangepicker.dropdown-menu{
    z-index: 9999999999999999999999;
}
#manager-book-top{
    margin-bottom: 20px;
}
.pac-container{
    z-index: 9999999999999999999999;
}
#cc-modal-view-booking-search{
    outline: none;
}
#offer-price-court-rate{
    position: relative;
}
.box-data-rates{
    position: relative;
}
.box-data-rates .overlight{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
#offer-price-court-rate.overlight{
    opacity: 0;
}
table .arrow{
    padding: 8px;
    line-height: 24px;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 30px;
}
.arrow.asc{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==');
}

.arrow.desc{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII= ');
}
.clearfix{
    clear: both;
}
#day-view-content .loading{
    position: fixed;
}
.content-wrapper .box.box-primary{
    border-top: 0px;
}
#cc-confirm-delete{
    background: #fff;
    z-index: 3000000;
    height: 150px;
    position: fixed;
    margin: auto auto;
    width: 400px;
}
#cc-confirm-delete.in{
    display: block !important;
}
#cc-ms{
    width: 100%;
    min-height: 200px;
}
.dataTable thead th {
    background: none;
    color: #000;
    cursor: pointer;
}
#clubSetting-wrapper{
    width: 100%;
}
.irs-slider {
    background: url(../../home/images/balltime_05.png) top;
    width: 20px;
    height: 20px;
}
.irs-slider:hover{
    background-position: top;
}