APP_ENV=local
APP_DEBUG=true
APP_KEY=base64:RSVXoyPMevbc5LT1DMSNzsduDcvxoiKX1EF/A4v+axw=

DB_HOST=127.0.0.1
DB_DATABASE=courtconnect
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_FROM=
MAIL_USERNAME=
MAIL_FROM_NAME=
MAIL_PASSWORD=
MAIL_CC1=
MAIL_CC2=

ADMIN_DIR = sadmin

FB_KEY=
FB_SECRET=
FB_REDIRECT_URI=

GOOGLE_KEY=
GOOGLE_SECRET=
GOOGLE_REDIRECT_URL=


STRIPE_SECRET=
STRIPE_PUBLISHABLE_SECRET=

BT_ENVIRONMENT=sandbox
BT_MERCHANT_ID=
BT_PUBLIC_KEY=
BT_PRIVATE_KEY=
